@using Microsoft.Ajax.Utilities
@model CaaS.Models.BVModels.ReportesViewModel

<div class="row">
    <h2>Panel de Administración</h2>
</div>


<div class="row">
    <h3>Lugares</h3>
    @{
        try
        {
            if (Model.Lugares.Count() != 0)
            {
                Html.RenderPartial("Reportes/ReportesView", model: Model.Lugares);
            }
            else
            {
                <div class="col-md-8">
                    <h4>No hay lugares, cree uno @Html.ActionLink("aqui", "LugaresCreate")</h4>
                </div>
            }
        }
        catch (Exception e)
        {
            <div class="col-md-8">
                <h4>No hay lugares, cree uno @Html.ActionLink("aqui", "LugaresCreate")</h4>
            </div>
        }
    }
</div>

