

    <h1 class="text-danger text-center">Su cuenta fue creada, pero todavia no puede acceder.</h1>
    <h2 class="text-danger text-center">Mientras validamos su cuenta ayudenemos a difundir #AbrigAR.</h2>

