<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AbrigAR</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:200,400,700,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/desktop.css">

</head>
<body>
<header class="full-width main-header subtle-shadow">
    <div class="container-80 center container">
       
        <a href="http://@Request.Url.Host">
            <img class="abrigarlogo" src="~/Content/logo_white.png" />
        </a>
        <div class="profile-group">
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <span style="color: white;" class="uppercase middle-top bold">Log out</span>
                    </a>

                }
            }
          
        </div>
    </div>
</header>
    
@RenderBody()

<footer class="full-width center">
        <ul class="center">
            <li>
                <img src="~/Content/ms.png" height="50px">
            </li>
            <li>
                <img src="~/Content/funsi.png" height="50px">
            </li>

        </ul>
    </footer>


</body>
</html>