
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReportAR</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:200,400,700,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/desktop.css">

</head>
<body>
<header class="full-width main-header subtle-shadow">
    <div class="container-80 center container">
        <h1>ReportAR</h1>
        <div class="profile-group">
               
            <span class="uppercase middle-top bold">Registrarse</span>
        </div>
    </div>
</header>
    
<footer class="full-width center">
    <ul class="center">
        <li>
            <img src="~/Content/ms.png" height="50px">
        </li>
        <li>
            <img src="~/Content/funsi.png" height="50px">
        </li>

    </ul>
</footer>


</body>
</html>