@model CaaS.Models.IndexViewModel

<h2>Administrar Cuenta</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Configura tus datos personales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Contraseña:</dt>
        <dd>
            @Html.ActionLink("Cambiar Password", "ChangePassword")
        </dd>
        
      
       
    </dl>
</div>
